/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;600&family=PT+Sans&display=swap");

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #db5461;
  --primario-2: #ff858e;
  --primario-3: #a41f37;
  --secundario: #30475f;
  --secundario-2: #5c728c;
  --secundario-3: #032035;
  --terciario: #e3f2fd;
  --terciario-2: #feffd6;
  --terciario-3: #cbcca5;
  /* Tipografia */
  --font-family: "mono", serif;
  --font-family-headings: "Overpass Mono", serif;
  --h1: 30px;
  --h2: 27px;
  --h3: 20px;
  --h4: 21px;
  --h5: 19px;
  /* Intención de los colores */
  --color-titulo: var(--terciario-2);
  --color-ul: var(--primario-2);
  --color-texto: var(--secundario-3);
  /* Commit: variables colores */
  --color-titulo: var(--primario-2);
  --color-ul: var(--terciario-2);
  --color-texto: var(--terciario);
  /* Tipografía */
  --font-family-body: "Pt Sans";
  --font-family-headings: "overpass mono";
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: var(--h1);
  color: var(--secundario-3);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  color: var(--primario-2);
  text-decoration: none;
  transition: color --color-ul;
}

a:hover {
  text-decoration-color: var();
}

img {
  cursor: url("./assets/imagenes/cursor.svg"), auto;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
}

/****************************************
*    Componentes
*****************************************/
.contenedor {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--terciario);
  min-height: 100vh;
}

.titulo {
  /* Portafolio */
  grid-column: 1/2;
  grid-row: 1/2;
  background: var(--primario-2);
}

.titulo__heading {
  -webkit-text-stroke: 1px var(--terciario-2);
  color: transparent;
  width: 582px;
  height: 72px;
  font-family: Overpass Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 51.88px;
  line-height: 79px;
}

.header {
  grid-column: 1/2;
  grid-row: 2/3;
  background: var(--terciario-);
}

.header__nombre {
  font-family: Overpass Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 51.88px;
  line-height: 79px;
  color: #032035;
  text-shadow: 0.08em 0em var(--terciario-2);
}

.nav {
  grid-column: 2 / 3;
  grid-row: 1/ 3;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 100px 155px 45px;
}

.menu__item {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 140%;
  text-shadow: 0.1em 0.1em var(--terciario-2);
}

.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contenido__imagen:nth-child(1) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.contenido__imagen:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
