/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;600&family=PT+Sans&display=swap");
/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #db5461;
  --primario-2: #ff858e;
  --primario-3: #a41f37;
  --secundario: #30475f;
  --secundario-2: #5c728c;
  --secundario-3: #032035;
  --terciario: #e3f2fd;
  --terciario-2: #feffd6;
  --terciario-3: #cbcca5;
  /* Intención de los colores */
  --color-titulo: var(--terciario-2);
  --color-ul: var(--primario-2);
  --color-texto: var(--secundario-3);
  /* Tipografia */
  --font-family-body: "Pt Sans";
  --font-family-headings: "Overpass Mono", serif;
  --h1: 30px;
  --h2: 27px;
  --h3: 20px;
  --h4: 21px;
  --h5: 19px;
}
/****************************************
*    Base
*****************************************/
html {
  height: 100vh;
}
body {
  font-family: var(--font-family-body);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}
h1 {
  font-size: var(--h1);
  color: var(--secundario-3);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
a {
  color: var(--secundario-3);
  text-decoration: none;
  /* La transicion acepta 3 valores: la propiedad de transición, la duración y timing function */
  /* transition: color --color-ul; -> QUITAR */
  transition: all 200ms ease-in-out; /* Ejemplo */
}
a:hover {
  /* text-decoration-color: var(); -> QUITAR */
  color: var(--secundario-2); /* Ejemplo */
  text-decoration-color: var(--terciario-3); /* Ejemplo */
}
/* Explícitamente mostrar el cursor personalizado en la pseudo clase :hover */
img:hover {
  cursor: url("./assets/imagenes/cursor.svg"), auto;
}

/****************************************
*    Componentes
*****************************************/
/* Contenedor grid */
.grid-home {
  display: grid;
  /* grid-template: Primer valor definimos las filas (row) / segundo valor las columnas (column) */
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  background-color: var(--terciario);
}
/* Seleccionamos los primeros 2 elementos para centrarlos en su eje vertical con flex y le ponemos padding-left */
.grid-home > *:nth-child(-n + 2) {
  /* https://css-tricks.com/almanac/selectors/n/nth-child */
  display: flex;
  align-items: center;
  padding-left: 5vw;
}
/* Grid items */
.header {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
.header__nombre {
  color: #ff858e;
  font-size: 51.88px;
  text-shadow: 0.08em 0 #feffd6;
}
.titulo {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  color: transparent;
  background: var(--terciario);
  font-size: 30px;
  -webkit-text-stroke: 1px var(--primario-2);
}
.nav {
  grid-row: 1 / 5;
  grid-column: 3 / 4;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background-color: var(--primario-2);
  overflow: scroll; /* showing scrollbars */
}
.menu::-webkit-scrollbar-button {
  display: flex;
  flex-direction: column;
}

.menu__item {
  padding-left: 2vw;
  font-size: 27px;
}
.contenido {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
}
.contenido img:first-of-type {
  margin: 0 0 0 auto;
}
.contenido img:last-of-type {
  margin: 0 auto 0 0;
}
.foto {
  flex-box: end;
  color: #30475f;
}

/* Proyectos */

.proyectos {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  background-color: var(--terciario);
}
